treechildren::-moz-tree-cell(instances_pending) {
    background-color: #FFFFCC;
}

treechildren::-moz-tree-cell(instances_running) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell(instances_shutting_down) {
    background-color: #FFCC99;
}

treechildren::-moz-tree-cell(instances_deleting) {
    background-color: #FFCC99;
}

treechildren::-moz-tree-cell(instances_terminated) {
    background-color: #FFCCCC;
}

treechildren::-moz-tree-cell(instances_deleted) {
    background-color: #FFCCCC;
}

treechildren::-moz-tree-cell(instances_detached) {
    background-color: #FFCCCC;
}

treechildren::-moz-tree-cell(instances_stopping) {
    background-color: #DDA0DD;
}

treechildren::-moz-tree-cell(instances_stopped) {
    background-color: #BA55D3;
}

treechildren::-moz-tree-cell(volumes_available) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell(images_available) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell(images_deregistered) {
    background-color: #EEEEEE;
}

treechildren::-moz-tree-cell(images_public) {
    background-color: #FFFF99;
}

treechildren::-moz-tree-cell(images_private) {
    background-color: transparent;
}

treechildren::-moz-tree-cell(images_amazon) {
    background-color: #FFFF99;
}

treechildren::-moz-tree-cell(images_amazon) {
    background-color: #FFFF99;
}

treechildren::-moz-tree-checkbox {
    list-style-image: url("chrome://ew/skin/unchecked.png");
}

treechildren::-moz-tree-checkbox(checked) {
    list-style-image: url("chrome://ew/skin/checked.png");
}

treechildren::-moz-tree-row {
    border-top: 1px solid transparent;
    height: 18px;
    background-color: #FFFFFF;
    color: #000000;
}

treechildren::-moz-tree-row(selected) {
    background-color: #ADCAEB;
}

treechildren::-moz-tree-cell(credentials_current) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell(endpoints_current) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell(accesskeys_current) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell-text(selected) {
    color: #000000;
}

treechildren::-moz-tree-cell-text(container) {
     font-weight: bold;
     padding-left: 2px;
}

treechildren::-moz-tree-indentation {
    width: 24px;
}

treechildren::-moz-tree-twisty {
    -moz-appearance: none;
    -moz-padding-end: 0px;
    width: 0px;
}

#ew_menu {
    list-style-image: url('menuicon.png');
}

tabpanels, tabpanel {
    -moz-appearance: none;
    border: 0px;
    outline: 0px;
    padding: 0px;
}

tree {
    margin: 0px;
}

groupbox {
    -moz-appearance: none;
    border: 0px;
}

groupbox caption {
    -moz-appearance: none;
    background-color: transparent;
    font-weight: bold;
}

.groupbox-body {
    -moz-appearance: none;
    border: 0px;
}
