treechildren::-moz-tree-cell(instance_pending) {
    background-color: #FFFFCC;
}

treechildren::-moz-tree-cell(instance_running) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell(instance_shutting_down) {
    background-color: #FFCC99;
}

treechildren::-moz-tree-cell(instance_deleting) {
    background-color: #FFCC99;
}

treechildren::-moz-tree-cell(instance_terminated) {
    background-color: #FFCCCC;
}

treechildren::-moz-tree-cell(instance_deleted) {
    background-color: #FFCCCC;
}

treechildren::-moz-tree-cell(instance_detached) {
    background-color: #FFCCCC;
}

treechildren::-moz-tree-cell(instance_stopping) {
    background-color: #DDA0DD;
}

treechildren::-moz-tree-cell(instance_stopped) {
    background-color: #BA55D3;
}

treechildren::-moz-tree-cell(image_available) {
    background-color: #C3DDC3;
}

treechildren::-moz-tree-cell(image_deregistered) {
    background-color: #EEEEEE;
}

treechildren::-moz-tree-cell(image_public) {
    background-color: #FFFF99;
}

treechildren::-moz-tree-cell(image_private) {
    background-color: transparent;
}

treechildren::-moz-tree-cell(image_amazon) {
    background-color: #FFFF99;
}

treechildren::-moz-tree-cell(image_amazon) {
    background-color: #FFFF99;
}

treechildren::-moz-tree-checkbox {
    list-style-image: url("chrome://ew/skin/unchecked.png");
}

treechildren::-moz-tree-checkbox(checked) {
    list-style-image: url("chrome://ew/skin/checked.png");
}

treechildren::-moz-tree-row {
    border-top: 1px solid transparent;
    height: 18px;
    background-color: #EEEEEE;
}

treechildren::-moz-tree-row(selected) {
    background-color: #ADCAEB;
    color: HighlightText;
}

tree, treechildren {
    background-color: #EEEEEE;
    margin: 0px;
    padding: 0px;
}

toolbar {
    padding: 3px;
    -moz-box-align: center;
    -moz-appearance: none;
    background: none;
    border-style: none;
}

groupbox caption {
   -moz-appearance: none;
   background-color: transparent;
}

groupbox {
  -moz-appearance: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

body, page, window, tabbox, tabpanel, tabpanels, toolbar, toolbox {
    padding:0px;
    margin:0px;
    border: 0px;
    background-color: #EEEEEE;
}

vbox, hbox, splitter, separator {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

menuitem {
   -moz-appearance: none;
   border: 0px;
}

listbox, menulist {
    background-color: #EEEEEE;
}

listcols {
    background-color: #EEEEEE;
}

#ew_menu {
    list-style-image: url('menuicon.png');
}

.ew_button {
   -moz-appearance: none;
   border-top: 1px solid #5e6b73;
   background: #3f4345;
   background: -moz-linear-gradient(top, #86868a, #3f4345);
   padding: 2px;
   -moz-border-radius: 5px;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 11px;
   font-weight: bold;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   margin-right: 3px;
   margin-left: 3px;
}

.ew_button_selected {
    color: #FFFF99;
}

.ew_button:hover {
   border-top-color: #2c4454;
   background: #2c4454;
   color: #FFFF99;
}

.ew_button:active {
   border-top-color: #576066;
   background: #576066;
}
